@import url(https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

.desktop{
	height: 100%;
	min-height: 100%;
	width: 100%;
	padding: 0px 0px;
	background: url(../images/desktop_road_min.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;	
    background-size: cover	
}	

.hero-unit{
	background-color: rgba(0, 0, 0, 0.6) !important;
	position: absolute;
	padding: 0% 0% !important; 
	margin: 0% 0% !important;
	height: 50%;
	width: 50%;
	top: 25%;
	left: 20%;
}

.content{
	text-shadow: 4px 2px 3px rgba(0,0,0,0.7);
    color: #fffaf0 !important;
    font-family: Lora !important;
    font-weight: 700 !important;
}

.lead1{
	position: relative;
	margin: 15% 10%;
}

.lead1 > h1{
    font-size: 6em !important;
    margin: 30px 0px;    
}

.lead1 > h2{
	margin: 20px 40px; 	    
}

.access_app{
	margin: 10px 20px;
	padding: 10px 20px;
	right: 12% !important;
	position: absolute;
}

.btn_wrap{
	width: 100%;
}


@media screen and (max-width: 1300px) {
	.lead1 > h1{
	    font-size: 4em !important;   
	}
	.hero-unit{
		width: 65%;
		height:60%;
		top: 15%;
		left: 15%;
	}	
}

@media screen and (max-height: 700px) {
	.hero-unit{
		height:60%;
		top: 20%;
	}		
}

@media screen and (max-width: 580px), screen and (max-height: 580px) {
	.hero-unit{
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
	}
	.lead1{
		position: absolute;
		margin: 0px 0px;
		top: 30%;
		left: 5%;
	}
	.lead1 > h1{
	    font-size: 3em !important;
    	margin: 0px 0px;    
	}

	.lead1 > h2{
		margin: 0px 0px; 	    
	}
	body{
		width:100%;
		padding: 0px 0px !important;
	}
}

@media screen and (max-height: 300px) {
	.lead1{
		top: 10%;
	}
}