{{response.files.append(URL('static','css/index_sheet.css'))}}
{{extend 'layout.html'}}

 

  <div class="desktop">

    <div class="hero-unit">
     
      <div class="lead1">
          <h1 class="lead1_h1 content">Welcome</h1>
          <h2 class="lead1_h2 content">Controlleys - the to-do app</h2>
          {{=A(SPAN('Start', _class='btn btn-default btn-lg access_app'), _href=URL('controlley'), _class='btn_wrap')}}
      </div>
    </div>

    </div>

  </div>
 





